#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  transition: all 1s ease;
  display: flex;

  .animation {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    object-fit: contain;
    margin: auto;
    transition: all 1s ease;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &.enlarge {
      max-width: 80%;
      max-height: 80%;
    }

    &.shrink {
      max-width: 0;
      max-height: 0;
      opacity: 0;
    }
  }

  #logo {
    height: 90px;
    width: auto;
    margin: 30px auto;
  }
}

.closed {
  transform: translateY(-100%);
}
