@font-face {
  font-family: "NewParisKingSize";
  src: url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.eot");
  src: url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.eot?#iefix") format('embedded-opentype'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.woff2") format('woff2'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.woff") format('woff'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.ttf") format('truetype'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.svg#svgFontName") format('svg');
}
