@use 'variables';

footer {
  margin-top: 140px;
  height: 150px;
  width: 100vw;

  background-color: variables.$title-color;

  display: flex;
  flex-flow: row;
  justify-content: center;

  a {
    font-size: 1em;
    margin: auto 30px;
  }
}
