@use 'media';

.header {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 10;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;


    p {
      margin: 0;
    }

    #imageWrapper {
      background-color: white;
    }

    img {
      display: block;
      width: 60%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      margin: 30px auto 30px auto;
      flex: 0 1 auto;

      @include media.large {
        width: 40%;
      }

      @include media.extra-large {
        width: 20%;
      }
    }

    nav {
      background-color: white;
      width: 100%;
      // TODO: Verify
      //height: 0;
      left: 0;
      transform: translate(calc(-100% - 30px), 0);
      transition: all 1s ease;
      flex: 1 1 auto;
      display: flex;

      @include media.extra-large {
        position: absolute;
        left: auto;
        right: 30px;
        width: auto;
        transform: none;
        top: 30px;
      }

      div {
        margin: auto;

        display: flex;
        flex-flow: column;

        @include media.extra-large {
          flex-flow: row;
        }

        a {
          text-align: center;
          font-size: 1.375em;
          font-family: neue-haas-grotesk-display, sans-serif;
          font-weight: 100;
          font-style: normal;
          letter-spacing: 5px;
          margin: 20px 0;
          text-transform: uppercase;
          pointer-events: auto;
          text-decoration: none;
          color: black;

          transition: all 0.2s ease-in-out;

          &:before,
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 5px;
            margin: 5px 0 0;
            transition-duration: 0.75s;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            background-color: #723f71;
          }

          &:before {
            left: 50%;
          }

          &:after {
            right: 50%;
          }

          :hover {
            &:before,
            &:after {
              opacity: 1;
              width: 50%;
            }
          }

          @include media.extra-large {
            margin: 0 10px;
            letter-spacing: 3px;
            font-size: 1.1em;
          }
        }
      }
    }

    #hamburgerButton {
      position: absolute;
      top: 30px;
      left: 15px;
      width: 33px;
      height: 33px;
      pointer-events: auto;

      display: flex;
      flex-flow: column;
      justify-content: center;

      cursor: pointer;

      @include media.small {
        left: 33px;
      }

      @include media.extra-large {
        display: none;
      }

      span {
        background-color: black;
        width: auto;
        height: 3px;
        border-radius: 3px;

        transition: transform 0.5s cubic-bezier(0.77, 0.0, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.0, 0.05, 1.0),
        opacity 0.55s ease;

        &:first-child {
          transform-origin: top left;
          margin: 0 0 5px 0;
        }

        &:last-child {
          margin: 5px 0 0 0;
          transform-origin: top left;
        }
      }
    }
  }

  &.open {
    #hamburgerButton span {
      &:first-child {
        transform: rotate(45deg) scale(0.7, 1) translate(0, -1px);
      }

      &:nth-child(2) {
        opacity: 2;
        transform: scale(0, 0);
      }

      &:last-child {
        transform: rotate(-45deg) scale(0.7, 1) translate(-2px, -2px);
      }
    }

    nav {
      transform: none;
    }
  }
}
