@use 'media';
@use 'variables';

#header {
  position: relative;
  width: 100vw;
  height: variables.$header-height-mobile;
  background-color: white;
  z-index: 10;

  @include media.extra-large {
    height: variables.$header-height-desktop;
  }

  &.sticky {
    position: fixed;
    top: 0;
  }

  img {
    box-sizing: border-box;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease;
  }

  &.title_page {
    height: 80px;

    nav {
      left: 50% !important;
      transform: translateX(-50%) !important;

      div {
        a {
          margin: 0 10px;
          font-size: 1.35em;
          letter-spacing: 3px;

          @include media.largest {
            margin: 0 20px;
            font-size: 1.5em;
            letter-spacing: 5px;
          }
        }

      }
    }

    #hamburgerButton {
      display: none;
    }


  }

  nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

    background-color: white;
    transform: translateX(-100%);
    transition: all 1s ease;
    flex: 1 1 auto;

    display: flex;

    @include media.extra-large {
      height: auto;
      left: auto;
      right: 0;
      width: auto;
      transform: translateX(100%);
      top: 30px;
    }

    @include media.s1600 {
      transform: none;
      right: 30px;
    }

    div {
      margin: auto;
      display: flex;
      flex-flow: column;

      @include media.extra-large {
        flex-flow: row;
        margin: auto;
        position: initial;
        top: initial;
        left: initial;
        transform: none;

        a {
          margin: 0 5px;
          font-size: 1.15em;
          letter-spacing: 3px;

          @include media.largest {
            margin: 0 10px;
            font-size: 1.25em;
            letter-spacing: 5px;
          }

          @media (-webkit-max-device-pixel-ratio: 1) {
            margin: 0 5px;
            font-size: 1em;
          }
        }
      }
    }
  }

  &.open {
    #hamburgerButton span {
      &:first-child {
        transform: rotate(45deg) scale(0.7, 1) translate(0, -1px);
      }

      &:nth-child(2) {
        opacity: 2;
        transform: scale(0, 0);
      }

      &:last-child {
        transform: rotate(-45deg) scale(0.7, 1) translate(-2px, -2px);
      }
    }

    nav {
      transform: none;
    }

    @include media.extra-large {
      img {
        left: 0;
        transform: translateX(-100%);
      }

      nav {
        right: 50%;
        transform: translateX(50%);
      }
    }

    @include media.s1600 {
      img {
        transform: none;
      }

      nav {
        transform: none;
      }
    }

  }

  #hamburgerButton {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 33px;
    height: 33px;
    pointer-events: auto;

    display: flex;
    flex-flow: column;
    justify-content: center;

    cursor: pointer;

    @include media.small {
      left: 33px;
    }

    @include media.extra-large {
      left: initial;
      right: 33px;
    }

    @include media.s1600 {
      display: none;
    }

    span {
      background-color: black;
      width: auto;
      height: 3px;
      border-radius: 3px;

      transition: transform 0.5s cubic-bezier(0.77, 0.0, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.0, 0.05, 1.0),
      opacity 0.55s ease;

      &:first-child {
        transform-origin: top left;
        margin: 0 0 5px 0;
      }

      &:last-child {
        margin: 5px 0 0 0;
        transform-origin: top left;
      }
    }
  }
}
