@use 'media';

#home {

  h1 {
    margin-top: 50px;
    margin-bottom: 0;

    @include media.largest {
      margin-top: 80px;
    }
  }

  h2 {
    margin-top: 40px;
  }

  .mainImage {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    @include media.extra-large {
      height: 60vh;
    }

    @include media.largest {
      width: 120%;
      margin-left: -10%;
      margin-right: auto;
      height: 60vh;
    }
  }

  #philosophie {
    margin-top: 140px;
  }

  .pink {
    background-color: #f3e9e7;
  }

  .split {
    h3 {
      margin-top: 40px;

      @include media.small {
        margin-top: 0;
      }
    }

    img {
      object-fit: cover;
      height: 80%;

      @include media.largest {
        height: 100%;
        object-fit: contain;
      }
    }

    .square {
      object-fit: contain;
    }
  }


}
