// Small tablets and large smart phones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1025px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xxl-min: 1400px;

$screen-1600: 1600px;

// Small devices
@mixin small {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin medium {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin large {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin extra-large {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin largest {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin s1600 {
  @media (min-width: #{$screen-1600}) {
    @content;
  }
}
