$header-height-mobile: 120px;
$header-height-desktop: 150px;
$title-color: #f3b09a;
$primary-color: #9fb595;
$secondary-color: #f3b09a;
$background-color: #fff0e5;
$secondary-background-color: #d8decd;
