@use 'header';
@use 'media';
@use 'angebot';
@use 'team';
@use 'slideshow';
@use 'kontakt';
@use 'kontaktform';
@use 'firstPage';

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

@font-face {
  font-family: "NewParisKingSize";
  src: url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.eot");
  src: url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.eot?#iefix") format('embedded-opentype'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.woff2") format('woff2'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.woff") format('woff'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.ttf") format('truetype'),
  url("/Fonts/NewParisKingSize/NewParisKingSize-Air-WebS.svg#svgFontName") format('svg');
}

/***********************************
Body
************************************/

img {
  object-fit: contain;
}


#starterPage {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#animationFruit {
  display: block;
  object-fit: contain;
  flex: 0 1 auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.pageContent {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0;
  display: flex;
  flex-flow: row;

  @include media.extra-large {
    margin-right: auto;
    margin-left: auto;

    width: 1000px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  height: 50vh;
  width: 100%;
}

.mainImage {
  margin-left: -12.5%;
  height: 40vh;
  width: 100vw;
  max-width: 100vw;
  object-fit: cover;

  @include media.extra-large {
    width: 1200px;
    margin-left: -100px;
    margin-right: auto;
    height: 60vh;
  }
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.quote {
  margin: 40px auto;
  font-style: italic;
  color: #b1d2ae;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.3em;

  @include media.medium {
    font-size: 1.6em;
    font-weight: lighter;
  }

  @include media.large {
    font-size: 1.8em;
  }
}

.title {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: #f3b09a;
  font-size: 1.8em;
  letter-spacing: 4px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;

  @include media.medium {
    font-size: 2.5em;
    font-weight: 300;
  }

  @include media.large {
    font-size: 3em;
  }
}

.subtitle {
  font-family: NewParisKingSize, serif;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 0;
  font-size: 1.3em;

  @include media.medium {
    font-size: 1.75em;
  }

  @include media.large {
    font-size: 2em;
  }
}

.fruit {
  width: 80%;
  margin: 30px auto;
  object-fit: contain;

  @include media.large {
    width: 50%;
  }
}

.red {
  box-sizing: border-box;
  width: 100vw;
  background-color: #f3e9e7;
  margin-left: -12.5%;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-bottom: 5vh;

  @include media.extra-large {
    margin-left: -50%;
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

p {
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1em;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 0;

  @include media.large {
    font-size: 1.25em;
    line-height: 40px;
  }
}

.button {
  text-decoration: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: 20px;
  margin: 50px auto;
  background-color: rgb(181, 216, 175);
  color: black;
  letter-spacing: 4px;

  transition: background-color 0.5s ease;

  @include media.large {
    padding: 40px;
    font-size: 1.25em;
    font-weight: 600;
    background-color: rgb(231, 243, 229);
  }
}

.button:hover {
  background-color: rgb(181, 216, 175);
}

.page {
  display: flex;
  flex-flow: column;
}

.pageContent {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.intro {
  margin: 0 auto;

  @include media.medium {
    margin: 0 auto;
  }
}

a {
  font-size: 1.375em;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 5px;
  margin: 20px 0;
  text-transform: uppercase;
  pointer-events: auto;
  text-decoration: none;
}

.hoverImage {
  margin: 0 auto;
  width: 200px;
  height: 200px;

  .content {
    position: relative;
    width: 100%;
    height: 100%;

    .shown {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      opacity: 1;
      position: absolute;

      transition: opacity 0.5s ease;
    }

    .hiddenContent {
      position: absolute;
      text-align: center;
      display: block;
      opacity: 0;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      transition: opacity 0.5s ease;

      text-transform: uppercase;
      color: #723f71;
      background-color: #eddeed;
      padding: 10px;
      cursor: pointer;
      box-shadow: 3px 3px 10px #723f71;
    }
  }


}

.hoverImage:hover {
  .shown {
    opacity: 0;
  }

  .hiddenContent {
    opacity: 1;
  }
}

.arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;

  span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #555555;
    display: inline-block;
    transition: all 0.2s ease;

    &:first-of-type {
      left: 0;
      transform: rotate(45deg);
    }

    &:last-of-type {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &.active {
    span {
      &:first-of-type {
        transform: rotate(-45deg);
      }

      &:last-of-type {
        transform: rotate(45deg);
      }
    }
  }
}

#body {
  .main {
    font-weight: bold;
    font-family: NewParisKingSize, serif;
  }
}

.top-space {
  margin-top: 80px;
}

.bot-space {
  margin-bottom: 80px;
}

.kochstil {
  margin-top: 7.5vh;
}

.split {
  display: flex;
  flex-flow: column-reverse;

  @include media.small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    height: 500px;
  }

  .right {
    grid-column: 1;
    width: 100%;
    height: 100%;

    * {
      margin: 0;
      text-align: center;

      @include media.small {
        text-align: left;
      }
    }

    .title {
      font-size: 2em;
      margin-bottom: 20px;
      font-weight: lighter;

      margin-top: 40px;

      @include media.small {
        margin-top: 0;
      }
    }

    p {
      font-size: 1.1em;
      line-height: 30px;
    }

  }

  .left {
    grid-column: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
