@use 'header';
@use 'media';
@use 'angebot';
@use 'team';
@use 'slideshow';
@use 'kontakt';
@use 'kontaktform';
@use 'firstPage';
@use 'fonts';
@use 'variables';
@use 'home';
@use 'footer';

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

// TODO: make something nice
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a, p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  color: black;
  line-height: 30px;
}

p {
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0;

  @include media.large {
    font-size: 1.1em;
    line-height: 40px;
  }
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25em;
  letter-spacing: 5px;
  margin: 20px 0;
  cursor: pointer;
  font-weight: lighter;
}

h1 {
  color: variables.$title-color;
  font-size: 1.8em;
  letter-spacing: 6px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: lighter;

  @include media.medium {
    font-size: 2.2em;
  }

  @include media.large {
    font-size: 3em;
  }
}

h2 {
  font-family: NewParisKingSize, serif;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 0;
  font-size: 1.3em;

  @include media.medium {
    font-size: 1.75em;
  }

  @include media.large {
    font-size: 2em;
  }
}

h3 {
  margin-top: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  color: variables.$title-color;
  font-size: 1.8em;
  letter-spacing: 4px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: lighter;

  @include media.medium {
    font-size: 2.2em;
  }

  @include media.large {
    font-size: 2.5em;
  }
}

.pageContent {
  margin-top: variables.$header-height-mobile;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-flow: column;

  @include media.extra-large {
    margin-right: auto;
    margin-left: auto;
    margin-top: variables.$header-height-desktop;

    width: 1000px;
  }
}

.quote {
  margin: 80px auto 0 auto;
  font-family: NewParisKingSize, serif;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.3em;

  @include media.medium {
    font-size: 1.6em;
    font-weight: lighter;
  }

  @include media.large {
    font-size: 1.8em;
  }
}

.banner {
  box-sizing: border-box;
  width: 100vw;
  background-color: variables.$secondary-background-color;
  margin-left: -12.5%;
  padding: 40px 10vw;

  @include media.extra-large {
    margin-left: calc((-100vw + 1000px) / 2);
    padding-left: calc((100vw - 1000px) / 2);
    padding-right: calc((100vw - 1000px) / 2);
  }
}

.button {
  padding: 20px 20px;
  margin: 50px auto;
  background-color: variables.$secondary-background-color;
  transition: background-color 0.5s ease;

  @include media.small {
    padding: 30px 50px;
  }

  &:hover {
    background-color: variables.$title-color;
  }
}

.arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;

  span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #555555;
    display: inline-block;
    transition: all 0.2s ease;

    &:first-of-type {
      left: 0;
      transform: rotate(45deg);
    }

    &:last-of-type {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &.active {
    span {
      &:first-of-type {
        transform: rotate(-45deg);
      }

      &:last-of-type {
        transform: rotate(45deg);
      }
    }
  }
}

.split {
  display: flex;
  justify-content: space-between;
  flex-flow: column-reverse;
  margin-top: 140px;

  @include media.small {
    flex-flow: row;
    height: 500px;
  }

  .right, .left {
    width: 100%;
    height: 100%;
    @include media.small {
      width: 45%;
    }
  }

  .left * {
    @include media.small {
      text-align: left;
    }
  }
}
